
img {
    width: 90vw;
    
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.item-container {
    text-align: center;
}

.item p {
    text-align: start;
}
